ul {
  list-style-position: outside;
}

main h1 {
  counter-reset: h2section;
}

main h2 {
  counter-reset: h3subsection;
}

main h3 {
  counter-reset: h4subsubsection;
}

main h2::before {
  counter-increment: h2section;
  content: counter(h2section)".";
  padding-right: 15px;
}

main h3::before {
  counter-increment: h3subsection;
  content: counter(h2section)"." counter(h3subsection);
  padding-right: 15px;
}

main h4::before {
  counter-increment: h4subsubsection;
  content: counter(h2section)"." counter(h3subsection)"." counter(h4subsubsection);
  padding-right: 15px;
}

div.displayMath {
  overflow-x: auto;
  overflow-y: clip;
}

/* Scrollbar-Style */
div.displayMath::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}

div.displayMath::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

div.displayMath::-webkit-scrollbar-thumb {
  background-color: #888;
}