*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("../fonts/monaspace-v1.200/fonts/otf/MonaspaceNeon-Regular.otf");
}

@font-face {
  font-family: "stoked";
  src: url("../fonts/stoked.ttf");
}

body {
  font-family: "Noto Sans", "Segoe UI", "Arial";
  margin: 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 5px 20px;
}

main p {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 2;
  /* text-indent: 2.5em; */
}
main section div.content {
  border-left: #dbdbdb 1.5px groove;
  padding-left: 16px;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  margin-bottom: 0px;
}

div.datetime time {
  font-size: 13.5px;
  font-family: "Caveat";
}
div.datetime {
  margin-bottom: 12.5px;
}

div.datetime time::before {
  content: "last edited: ";
}

span.inline {
  font-family: "Courier New";
  font-weight: bold;
  padding-right: 4px;
  padding-left: 4px;
  color: crimson;
  background-color: whitesmoke;
}

span.command {
  display: block;
  font-size: 1.3em;
  line-height: 22px;
  font-family: monospace;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 50px;
  padding-left: 15px;
  border-left: 3.5px solid #aaa;
  background-color: whitesmoke;
  color: #2c3e50;
  white-space: nowrap;
  overflow-x: auto;
}

span.dirname {
  font-family: "Courier New";
  font-weight: bold;
  padding-right: 4px;
  padding-left: 4px;
  color: DodgerBlue;
  background-color: whitesmoke;
}

main pre > b {
  line-height: 1.56em;
}
main *::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

main *::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

main *::-webkit-scrollbar-thumb {
  background-color: #888;
}

main kbd {
  font-size: 1em;
  font-weight: 700;
  display: inline-block;
  vertical-align: bottom;
  margin: 2px 0px;
  padding: 2px 4px;
  white-space: nowrap;
  color: #333;
  border: 1px solid #b4b4b4;
  border-radius: 3px;
  background-color: #eee;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  text-indent: 0px;
}

div.tablewrapper {
  overflow-x: auto;
  margin-bottom: 5px;
}

main table {
  /* display: block; */
  border-collapse: collapse;
  margin: 10px 0px;
  /* border-top: 2px solid black; */
  /* border-bottom: 2px solid black; */
  white-space: nowrap;
  font-size: 74%;
}

main table tr {
  /* border-top: 1px solid #dcdcdc; */
  border-bottom: 1px solid #dcdcdc;
}

main table th,
main table td {
  padding: 5px 15px;
  text-align: left;
}

main table thead tr:first-child {
  /* background-color: rgb(241, 244, 235); */
  border-bottom: #dbdbdb 1.5px groove;
  font-size: larger;
}

main table tbody tr:nth-child(odd) {
  background-color: #fafafa;
}

main table tfoot tr {
  background-color: rgba(225, 232, 212, 0.588);
  border-bottom: none;
  font-size: smaller;
}
main table tfoot tr td::before {
  content: "*";
}
main table tfoot tr td {
  border-top: #dbdbdb 1.5px groove;
}

main figure {
  border: 1px solid #c8ccd1;
  background-color: #f8f9fa;
  line-height: normal;
  padding: 20px 10px 10px 10px;
  width: fit-content;
  margin: 0px;
}

main figure img {
  display: block;
  width: 200px;
  object-fit: contain;
}

main figcaption {
  text-align: center;
  font-size: 0.7em;
  font-style: italic;
  margin-top: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1px 15px;
}
.row p {
  /* display: block; */
  width: 300px;
  flex-grow: 1;
}
.row figure {
  margin: 10px 0px;
}
.row.grid img {
  height: 267px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.invisible {
  display: none;
}

.blockquote1 {
  font-size: 1.2em;
  background: #121fcf;
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.toc li::marker {
  color: rgb(32, 33, 34);
}

.toc li {
  padding-left: 0.5ch;
}

.toc .sub-toc li::marker {
  content: "⤷";
}

.toc .sub-toc {
  padding-left: 30px;
}

main a {
  text-decoration: none;
  color: rgb(6, 69, 173);
}

main a:hover {
  text-decoration: underline;
}
