* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Muli', Arial;
  min-width: 0;
  margin: 0;
  transition: .15s;
  background-color: #fff;
}

main {
  font-size: 18px;
  line-height: 42px;
  max-width: 688px;
  margin: auto;
  padding: 5px 18px;
}

main p {
  text-indent: 30px;
}

.inlineCode {
  font-family: 'Courier New';
  font-weight: bold;
  padding-right: 4px;
  padding-left: 4px;
  color: crimson;
  background-color: whitesmoke;
}

kbd {
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  padding: 2px 4px;
  white-space: nowrap;
  color: #333;
  border: 1px solid #b4b4b4;
  border-radius: 3px;
  background-color: #eee;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  text-indent: 0px;
}

img {
  display: block;
  max-width: 100%;
  margin: 10px auto;
  background: white;
}

table {
  border-collapse: collapse;
  width: 72%;
  margin: 10px 0px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.tableDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

tr {
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

tr:nth-child(odd) {
  background-color: #f3f3f3;
}

tr.header {
  background-color: rgb(241, 244, 235);
}

th,
td {
  padding-top: 10px;
  padding-bottom: 10px;
}

#permalink_section {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

figure {
  border: 1px solid #c8ccd1;
  background-color: #f8f9fa;
  line-height: normal;
  padding: 10px;
}

figcaption {
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.column {
  height: 100%;
  flex-basis: auto;
  text-align: center;
  padding: 0px 10px;
}